
.form-control{
  width: 100%;
}
.btn{
  margin-top: 20px;
  display: inline;
}

.heroes{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

.card-img-top{
  min-width: 200px;
  max-height: 200px;
  background-size: cover;
}

.navbar{
  display: flex;
  justify-content:flex-start !important;
  align-items: center;
  gap: 10px;
}
.nav-item{
  text-decoration: none;
  color: #464;
  font-size: 20px;
}

.nav-item:hover{
  color:red
}
.error{
  display: flex;
  align-items: center;
  justify-content: center;
}